<CredentialIssueSpecification>
	<Name>Thalia leeftijd</Name>
	<IssuerID>Thalia</IssuerID>

	<Id>1339</Id>

	<Expires>5000</Expires>

	<Attributes>
		<Attribute type="string">
			<Name>over18</Name>
			<Value>{{ over_18 }}</Value>
			</Attribute>
	</Attributes>
</CredentialIssueSpecification>
