<CredentialIssueSpecification>
	<Name>Thalia lidinfo</Name>
	<IssuerID>Thalia</IssuerID>

	<Id>1337</Id>

	<Expires>5000</Expires>

	<Attributes>
		<Attribute type="string">
			<Name>userID</Name>
			<Value>{{ user_id }}</Value>
		</Attribute>
		<Attribute type="string">
			<Name>cardID</Name>
			<Value>0</Value>
		</Attribute>
	</Attributes>
</CredentialIssueSpecification>
